.footer {
  background-color: #f7f7f7;
  text-align: center;
  padding: 30px 0 30px 0;
  bottom: 0px;
  width: 100%;
}
.footer-description {
  font-size: 16px;
  line-height: 19px;
  color: $dark-gray-color;
  margin: 0;
}
.footer-description__icon {
  margin-left: 3px;
  margin-right: 3px;
}
#img {
  display: inline;
}
#team {
  text-decoration-line: underline;
  color: $dark-gray-color;
}
